@import "../../style/colors";

#logo-voiture:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.2s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  12% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
  25% {
    transform: translate(2px, 2px) rotate(-2deg);
  }
  37% {
    transform: translate(2px, 2px) rotate(-1deg);
  }
  50% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  62% {
    transform: translate(2px, 2px) rotate(1deg);
  }
  75% {
    transform: translate(2px, 2px) rotate(2deg);
  }
  87% {
    transform: translate(1px, 1px) rotate(1deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }

}

.light-bg {
  background: $light-bg;
}
