@import "../../style/colors";

.logoProfil {
  height: 40px;
  width: 40px;
}

.white {
  color: white;
}

.nav-title {
  color: white;
  font-size: 24px;
}

.navbar-codrive {
  background: linear-gradient(90deg, $navleft 0%, $navright 100%);
}

.navbar-nav .nav-link {
  color: white;
  &:focus, &:active {
    color: white;
  }
  &:hover {
    color: $light-gray;
  }
}

.nav-link {
  color: white;
  &:focus, &:active {
    color: white;
  }
  &:hover {
    color: $light-gray;
  }
}

// .navbar-codrive .nav-link:hover {
//   color: $light-gray;
// }

.navbar-codrive .navbar-toggler {
  color: white;
  background-color: rgba(255, 255, 255, 0.1 );
  border-color: white;
}
